
<section id="weather-section">
  <form #search="ngForm" (ngSubmit)="onSubmit()" >
    <input type="text" name="city" [(ngModel)]="city" placeholder="Enter the city name">
  </form>
  <div class="weather-card" *ngIf="weatherData">
    <div class="top-container">
      <img src="../assets/winter.jpg" alt="snow fall" *ngIf="(weatherData.main.temp - 32)*(0.5556)<=18">
      <img src="../assets/summer.jpg" alt="snow fall" *ngIf="(weatherData.main.temp - 32)*(0.5556)>18">

      <div class="weather-data">
        <div class="city-name">
          {{weatherData.name}}
        </div>
        <div class="temperature">
          {{ (weatherData.main.temp - 32)*(0.5556) | number: '1.0-1'}}° C
        </div>
      </div>
    </div>

    <div class="bottom-container">
      <h5>More Information</h5>
      <div class="info-content">
        <div class="info-item">
          <div class="info-item-label">
            <img src="../assets/low-temperature.png" alt="minimum temperature">
            <span>min</span>
          </div>
          <div class="info-item-value">
            {{(weatherData.main.temp_min - 32)*(0.5556) | number: '1.0-1'}}
          </div>
        </div>
        <div class="info-item">
          <div class="info-item-label">
            <img src="../assets/high-temperature.png" alt="maximum temperature">
            <span>max</span>
          </div>
          <div class="info-item-value">
            {{(weatherData.main.temp_max - 32)*(0.5556) | number: '1.0-1'}}
          </div>
        </div>
        <div class="info-item">
          <div class="info-item-label">
            <img src="../assets/humidity.png" alt="humidity">
            <span>humidity</span>
          </div>
          <div class="info-item-value">
            {{weatherData.main.humidity}}
          </div>
        </div>
        <div class="info-item">
          <div class="info-item-label">
            <img src="../assets/windock.png" alt="wind">
            <span>wind</span>
          </div>
          <div class="info-item-value">
            {{weatherData.wind.speed}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
